body {
  background-color: #120439;
  height: 100%;
  font-family: 'tradegothiclt-bold', sans-serif;
}

h1 {
  font-size: 5em;
  color: white;
  text-transform: uppercase;
}

p {
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
  
}

a:link{
  
  font-family:  'tradegothiclt-bold', sans-serif;
  color:white;
  text-decoration: none;
  border: 2px solid;
  border-radius: 5px;
  display:block;
  padding:3px;
  font-size: 2em
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}