html {
    background-color: #23746e;
    color:#ffffff;
}

h1{
display:inline-block;
    color:#b1e8ea;
}

h3 {
    display:inline-block;
    margin-left: 40%
}

a:link {
    color: white;
}

img {
    height:200px;
    float:right;
    margin: 40px
}

#photo {
    min-width:200px;
    display: inline-block;
    
}

#text {
    max-width:300px;
    display: inline-block;
}